<div class="row border gs-row-cajero">
	<div class="col-md-3 border gs-col-cajero">
		<gs-cajero-venta carrito="carrito" ofertas="ofertas"></gs-cajero-venta>
	</div>
	<div class="col-md border gs-scroll">
		<gs-cajero-menu items="items" cat-selected="catSelected" 
			carrito="carrito" combos="combos" ofertas="ofertas"></gs-cajero-menu>
	</div>
	<div class="col-md-2 border gs-col-cajero">
		<br />
		<gs-cajero-categorias categorias="categorias" cat-selected="catSelected"></gs-cajero-categorias>
	</div>
</div>
